/* Variables */
:root{
    --main-bg-color: rgb(240, 240, 240);
    --dark-bg-color: rgb(200, 200, 200);
    --button-color: rgb(255, 196, 0);
    --icon-color: rgb(240, 128, 0);
}
/* Site-wide */
body {
    background-color: var(--main-bg-color);
    font-size: 1.2rem;
}
.container {
    margin: 0 auto;
    width: 100%;       /*take up whole space and small screens*/
    max-width: 900px;   /*max 900px*/
}

li { list-style: none; } /*remove dots*/
h1, h2, h3 { font-weight: 700; } /*bold headings*/
h1 { font-size: 2rem; margin-bottom: 2rem;}
h2 { font-size: 1.5rem; }

/* HEADER */

/*headcontainer so the site content doesn't overlap 
    with the fixed position header*/
#headContainer { 
    height: 4.75rem; width: 100%; 
    margin-bottom: 4rem; /*leave some air between header and content*/
}
/*fixed header*/
header { 
    position: fixed; 
    height: 4.75rem; width: 100%;
    background-color: var(--main-bg-color);
}
/* Original Trombones logo, fixed size, left side of header */
.logo img {
    width: 300px;
    margin: 20px 5px;
    float: left;
}
/* NAVIGATION */
/*ul for both header and footer*/
nav { 
    width: 47%;
    float: right;
    text-align: right;
}
.nav li {
    display: inline;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    color: var(--icon-color);
}
/*just the header nav*/
.topNav li {
    margin-right: 4%; 
    line-height: 4.75rem;
}

/*MEDIA QUERIES FOR HEADER AND NAVIGATION */
/* Center logo and navigation on smaller screens*/
@media only screen and (max-width: 605px) { 
    /*adjust height of header+container to adjust for the change 
        in navigation. A little less air between header and content
        to avoid unneccessary scrolling on a smaller screen */
    #headContainer { height: 8.5rem; margin-bottom: 2rem; }
    header { 
        text-align: center;
        height: 8.5rem;
    }
    nav { width: 100%; text-align: center; }
    .logo img, nav { float: none; }
    .nav li {
        display: block;
        line-height: 1em;
    }
}
/* FOOTER */
footer { 
    margin-top: 2rem; 
    background-color: var(--main-bg-color);
}
.bottomNav li { 
    display: inline; 
    float: right; 
    margin-right: .7em;
}
span { 
    float: right; 
    font-size: .75em;
    margin: .5em .7em;
    opacity: .75;
}
/* GET STARTED SECTION */
.start {
    text-align: center;
    margin-bottom: 2.5rem;
}
input {
    margin: .75rem 0;
}
input[type="email"] {
    height: 1.2rem;
}
/* FEATURES */
.featurePiece {
    margin-bottom: 2rem;
}
.faLogo{
    display: inline-block;
    margin-top: 1rem;
    color: var(--icon-color);
    width: 10%;
    margin: 0 5px 20px 5px;
}
.featureText{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 5px 10px 5px;
}
.featurePiece h2 {
    box-sizing: border-box;
    display: block;
}
.featurePiece p {
    display: block;
}
@media only screen and (max-width: 625px) {
    .faLogo { display: none;}
    .featurePiece { width: 110%; margin:0; }
}
/* VIDEO */
.video {
    text-align: center; /*center video*/
    margin: 50px 0;
}
/* OFFERS */
.offers {
    display: grid;      /*3 columns */
    grid-column-gap: 1%;
    margin-top: 2%;
}
#tenor { grid-column-start: 1; grid-column-end: 2; }
#bass { grid-column-start: 2; grid-column-end: 3; }
#valve { grid-column-start: 3; grid-column-end: 4; }
    /*adjusts heading for each element(/trombone)*/
.offerHead {
    background-color: var(--dark-bg-color);
    padding: 5px;
}
.offerHead h2 {
    font-size: 1.75rem;
    margin: .75rem;
}
.offerElement {
    width: auto;
    border: 1px solid black;
    text-align: center;
}
.price {
    font-weight: 600;
    font-size: 2rem;
    margin: 10px 0;
}
.offerFeatures li {
    font-size: 1.2em;
}
@media only screen and (max-width: 740px) {
    .offers {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .offerElement { border:none; }
}
/* BUTTONS */
button, #submit {
    background-color: var(--button-color);
    border: none;
    font-size: 1.2rem;
    width: 125px;
    height: 2rem;
}
button { margin: 10px 0; }

.hidden {
    position: absolute;
    left: -10000px;
    overflow: hidden;
}